# Ambiente virtual
venv/
env/
.venv/

# Variáveis de ambiente
.env

# Python
__pycache__/
*.py[cod]
*.pyo

# Django
db.sqlite3
*.log
staticfiles/
media/

# IDEs
.vscode/
.idea/

# OS
.DS_Store
Thumbs.db

# Claude
.claude/
